@value small-up from "../../styles/breakpoints.css";

.hero {
  --background-color: var(--color-white);
  --border-color: var(--color-black-90);
  --color: var(--color-black-90);
  --border-width: 2px;
  --padding-horizontal: var(--spacing-l);
  --padding-vertical: var(--spacing-m);
  --image-aspect-ratio: unset;

  color: var(--color);

  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  padding: var(--padding-vertical) var(--padding-horizontal);
  background-color: var(--background-color);
}

.twoColumns {
  display: flex;
  flex-direction: column;
  align-items: center;
  .imageContainer {
    display: none;
  }
}

.singleColumn {
  display: flex;
}

.card {
  display: block;
}

.imageContainer {
  display: flex;
  aspect-ratio: var(--image-aspect-ratio);
}

.imageBelowKoros {
  display: block;
}

.image {
  display: block;
  width: 100%;
}

.fixedImageAspectRatio {
  .image {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }
}

.backgroundContainer {
  background-image: var(--background-image);
  background-size: contain;
  background-repeat: no-repeat;
  &.noImageAspectRatio {
    .backgroundMobileSpacer {
      aspect-ratio: 16 / 9;
    }
  }
}

.topKoros {
  display: block;
}
.bottomKoros {
  display: none;
}

.backgroundMobileSpacer {
  aspect-ratio: var(--image-aspect-ratio);
  display: block;
}

.backgroundMobileImage {
  aspect-ratio: var(--image-aspect-ratio);
  display: block;
}

@media small-up {
  .imageBelowKoros {
    display: none;
  }
  .twoColumns {
    flex-direction: row;
    > * {
      width: 50%;
    }
    .imageContainer {
      display: block;
    }
  }
  .singleColumn {
    width: 50%;
  }

  .backgroundMobileSpacer {
    display: none;
  }

  .backgroundContainer {
    background-size: cover;
    padding: var(--padding-vertical) var(--padding-horizontal);
  }
  .topKoros {
    display: none;
  }
  .bottomKoros {
    display: block;
  }
}
