@value x-large-up, large-up, medium-up, small-up from "../../styles/breakpoints.css";

.hero {
  --background-color: var(--color-white);
  --color: var(--color-black-90);
  --image-position: bottom right;
  --koros-color: var(--color-white);
  --angled-koros-inset: auto auto 10% -40%;
  --horizontal-padding-small: var(--spacing-s);
  --horizontal-padding-medium: var(--spacing-m);
  --horizontal-padding-large: var(--spacing-layout-xl);
  --horizontal-padding-x-large: var(--spacing-layout-2-xl);
  --padding-horizontal: var(--horizontal-padding-small);
  --padding-vertical: var(--spacing-xl);

  color: var(--color);
  display: flex;
  flex-direction: column;

  h1 {
    font-size: var(--fontsize-heading-xl);
    letter-spacing: -1px;
    font-weight: normal;
    line-height: 1em;
    margin-top: 0;
  }

  p {
    font-size: var(--fontsize-body-l);
  }

  z-index: 1;
}

.content {
  display: flex;
  padding: var(--padding-vertical) var(--padding-horizontal);
  background-color: var(--background-color);
}

.singleColumn,
.twoColumns {
  display: flex;
  flex-direction: column;
}

.twoColumns {
  align-items: center;
  .imageContainer {
    display: none;
  }
}

.card {
  display: block;
  max-width: var(--container-width-xl);
  &.centeredContent {
    width: 100%;
    text-align: center;
  }
}

.image {
  display: block;
  width: 100%;
}

.imageBelowKoros {
  display: block;
  .image {
    object-fit: cover;
    height: 100%;
    object-position: var(--image-position);
  }
}

.angledKoros,
.backgroundTop {
  .container {
    position: relative;
    .background {
      width: 100%;
      .image {
        object-fit: cover;
        height: 100%;
        object-position: var(--image-position);
      }
    }
  }
}

.backgroundTop .container {
  .topKoros {
    display: block;
  }

  .bottomKoros {
    display: none;
  }
}

.angledKoros .container {
  display: flex;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
  flex-direction: column;
  .content {
    display: block;
    z-index: 2;
    width: 100%;
    padding: 0;
    .card {
      background-color: var(--background-color);
      padding: var(--padding-vertical) var(--padding-horizontal);
    }
  }
  .mobileKoros {
    display: block;
  }
  .korosAndBackground {
    display: none;
  }
}

.angledKoros .container .background,
.backgroundTop .container .background,
.imageBelowKoros,
.wideImage.imageBelowKoros {
  height: 300px;
}

@media medium-up {
  .hero {
    --padding-horizontal: var(--horizontal-padding-medium);
    --padding-vertical: var(--spacing-layout-m);
  }
  .angledKoros .container .background,
  .backgroundTop .container .background,
  .imageBelowKoros,
  .wideImage.imageBelowKoros {
    height: 400px;
  }
}

@media large-up {
  .hero {
    --padding-horizontal: var(--horizontal-padding-large);
    --padding-vertical: var(--spacing-layout-xl);
    p {
      font-size: var(--fontsize-body-xl);
    }
  }

  .imageLeft,
  .imageRight {
    .content {
      padding-bottom: var(--spacing-layout-xl);
    }
    .imageBelowKoros {
      display: none;
    }
  }

  .twoColumns {
    flex-direction: row;
    > * {
      width: 50%;
      &:first-child {
        margin-right: var(--spacing-xl);
      }
      &:last-child {
        margin-left: var(--spacing-xl);
      }
    }

    .imageContainer {
      display: block;
    }
  }

  .backgroundTop .container {
    padding: var(--padding-vertical) var(--padding-horizontal);

    .singleColumn {
      width: 50%;
    }

    .content {
      --padding-vertical: var(--spacing-2-xl);
      --padding-horizontal: var(--spacing-xl);
    }

    .topKoros {
      display: none;
    }

    .bottomKoros {
      display: block;
    }
  }

  .angledKoros,
  .backgroundTop {
    .container .background {
      position: absolute;
      z-index: -1;
      inset: 0;
      height: auto;
      width: auto;
    }
  }

  .angledKoros .container {
    .content {
      background-color: transparent;
      width: 50%;
      padding: var(--padding-vertical) var(--padding-horizontal);
      .card {
        padding: 0;
        background: none;
      }
    }

    .mobileKoros {
      display: none;
    }

    .korosAndBackground {
      inset: var(--angled-koros-inset);
      transform: rotate(135deg);
      transform-origin: center;
      width: 150%;
      display: block;
      position: absolute;
      z-index: 1;
      height: 100%;
      &:after {
        content: '';
        background-color: var(--koros-color);
        display: block;
        width: 100%;
        height: 200%;
        left: 0;
        position: absolute;
        top: 50px;
      }
    }
  }
}

@media x-large-up {
  .hero {
    --padding-horizontal: var(--horizontal-padding-x-large);
    h1 {
      font-size: var(--fontsize-heading-xxl);
      letter-spacing: -1.2px;
    }
  }
  .angledKoros .container {
    .content {
      width: 45%;
      p {
        padding-right: var(--spacing-l);
      }
    }
  }
  .twoColumns {
    > * {
      &:first-child {
        margin-right: var(--spacing-2-xl);
      }
      &:last-child {
        margin-left: var(--spacing-2-xl);
      }
    }
  }
}
