@value large-up from "../../styles/breakpoints.css";

.hero {
  --background-color: var(--color-white);
  --border-color: var(--color-black-90);
  --color: var(--color-black-90);
  --border-width: 2px;
  --padding-horizontal: var(--spacing-s);
  --padding-vertical: var(--spacing-xl);
  --image-aspect-ratio: unset;
  --image-position: bottom right;
  --koros-color: var(--color-white);
  --angled-koros-inset: auto auto 10% -40%;

  color: var(--color);

  display: flex;
  flex-direction: column;

  h1 {
    font-size: var(--fontsize-heading-xl);
    font-weight: normal;
    line-height: 1em;
    margin-top: 0;
  }
  p {
    font-size: var(--fontsize-body-xl);
  }
  z-index: 1;
}

.content {
  display: flex;
  padding: var(--padding-vertical) var(--padding-horizontal);
  background-color: var(--background-color);
}

.twoColumns {
  display: flex;
  flex-direction: column;
  align-items: center;
  .imageContainer {
    display: none;
  }
}

.singleColumn {
  display: flex;
  flex-direction: column;
}

.card {
  display: block;
  &.centeredContent {
    width: 100%;
    text-align: center;
  }
}

.image {
  display: block;
  width: 100%;
}

.imageBelowKoros,
.wideImageContainer {
  display: block;
  height: 300px;
  .image {
    object-fit: cover;
    height: 100%;
    object-position: var(--image-position);
  }
}

.angledKorosContainer,
.backgroundContainer {
  position: relative;
  .background {
    height: 300px;
    width: 100%;
    .image {
      object-fit: cover;
      height: 100%;
      object-position: var(--image-position);
    }
  }
}

.topKoros {
  display: block;
}
.bottomKoros {
  display: none;
}

.angledKorosContainer {
  display: flex;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
  flex-direction: column;
  .content {
    display: block;
    z-index: 2;
    width: 100%;
    padding: 0;
    .card {
      background-color: var(--background-color);
      padding: var(--padding-vertical) var(--padding-horizontal);
    }
  }
  .mobileKoros {
    display: block;
  }
  .angledKorosWithBg {
    display: none;
  }
}

@media large-up {
  .hero {
    --padding-horizontal: var(--spacing-m);
    --padding-vertical: var(--spacing-layout-xl);
    h1 {
      font-size: var(--fontsize-heading-xxl);
    }
  }
  .imageBelowKoros {
    display: none;
  }
  .twoColumns {
    flex-direction: row;
    > * {
      width: 50%;
      &:first-child {
        margin-right: var(--spacing-s);
      }
      &:last-child {
        margin-left: var(--spacing-s);
      }
    }

    .imageContainer {
      display: block;
    }
  }
  .wideImageContainer {
    height: 400px;
    .image {
      object-fit: cover;
      height: 100%;
      object-position: var(--image-position);
    }
  }

  .backgroundContainer {
    padding: var(--padding-vertical) var(--padding-horizontal);
    .singleColumn {
      width: 50%;
    }
    .content {
      --padding-vertical: var(--spacing-2-xl);
      --padding-horizontal: var(--spacing-xl);
    }
  }
  .topKoros {
    display: none;
  }
  .bottomKoros {
    display: block;
  }
  .angledKorosContainer,
  .backgroundContainer {
    .background {
      position: absolute;
      z-index: -1;
      inset: 0;
      height: auto;
      width: auto;
    }
  }

  .angledKorosContainer {
    .content {
      background-color: transparent;
      width: 50%;
      padding: var(--padding-vertical) var(--padding-horizontal);
      .card {
        padding: 0;
        background: none;
      }
    }
    .mobileKoros {
      display: none;
    }
    .angledKorosWithBg {
      inset: var(--angled-koros-inset);
      transform: rotate(135deg);
      transform-origin: center;
      width: 150%;
      display: block;
      position: absolute;
      z-index: 1;
      height: 100%;
      &:after {
        background-color: var(--koros-color);
        content: '';
        display: block;
        height: 200%;
        left: 0;
        position: absolute;
        top: 50px;
        width: 100%;
      }
    }
  }
}
